<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="card-title">Administrar Productos</ion-card-title>
    </ion-card-header>
    <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">

      <ion-item class="form-item">
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input formControlName="nombre" type="text"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Descripcion</ion-label>
        <ion-input formControlName="descripcion" type="text"></ion-input>
      </ion-item>
      
      <ion-item class="form-item">
        <ion-label position="stacked">Seleccionar Imagen</ion-label>
        <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)">
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="stacked">Ruta de la Imagen</ion-label>
        <ion-input formControlName="imagen" type="text" readonly></ion-input>
      </ion-item>

      <ion-item *ngIf="productoForm.value.imagen" class="form-item">
        <ion-label>Vista previa:</ion-label>
        <ion-img [src]="productoForm.value.imagen" style="max-width: 100px;"></ion-img>
      </ion-item>
      
      <ion-item class="form-item">
        <ion-label position="stacked">Precio</ion-label>
        <ion-input formControlName="precio" type="number"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Stock</ion-label>
        <ion-input formControlName="stock" type="number"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Marca</ion-label>
        <ion-select formControlName="marca" placeholder="Seleccione una marca">
          <ion-select-option *ngFor="let marca of marcas" [value]="marca.id_marca">
            {{marca.descripcion}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Inventario</ion-label>
        <ion-select formControlName="inventario" placeholder="Seleccione un Inventario">
          <ion-select-option *ngFor="let inv of inventario" [value]="inv.id_inventario">
            {{inv.descripcion}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Categoria</ion-label>
        <ion-select formControlName="categoria" placeholder="Categoria">
          <ion-select-option [value]="1">Herramientas manuales</ion-select-option>
          <ion-select-option [value]="2">Materiales básicos</ion-select-option>
          <ion-select-option [value]="3">Equipos de seguridad</ion-select-option>
          <ion-select-option [value]="4">Equipos de seguridad</ion-select-option>
          <ion-select-option [value]="5">Fijaciones y adhesivos</ion-select-option>
          <ion-select-option [value]="6">Equipos de medición</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-button [disabled]="productoForm.invalid" type="submit" size="block" color="warning">Registrar</ion-button>
      <ion-button [disabled]="!botonModificar || !productoForm.valid" (click)="modificar()" size="block" color="dark">Modificar</ion-button>
      <ion-button type="reset" size="block" color="secondary">Limpiar</ion-button>
    </form>
  </ion-card>
  
  <div>
    <ion-list>
      <ion-item-sliding *ngFor="let producto of productos">
        <ion-item>
          <ion-avatar slot="start">
            <!-- Usa la URL completa incluyendo el dominio -->
            <img [src]="'http://localhost:8080' + producto.imagen" 
                alt="Imagen Producto"
                (error)="handleImageError($event, producto)" />
          </ion-avatar>
          <ion-label>
            <h2>{{producto.nombre}}</h2>
            <p>{{producto.descripcion}}</p>
            <p style="color: lightslategray; text-align: start;">ID: {{producto.id_producto}}</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option (click)="buscar(producto)" color="warning">Buscar</ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option (click)="eliminar(producto.id_producto)" color="danger">Eliminar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ng-template #noHayProductos>
    <img src="../../../assets/images/logo.png" alt="No hay productos registrados">
  </ng-template>
</ion-content>