ion-content {
    --background: linear-gradient(#bb5c0e, #f7f0fd);
  
  }
  
  #loginuser{
    height: 75%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
  
  #logo{
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); 
    max-width: 230px;
  }

  .link {
  cursor: pointer;
}