<ion-content id="mainlayout">
  
  <!-- Logo -->
  <div id="logo" class="ion-text-center">
    <img src="assets/images/logo.png" alt="Logo" class="logo-img">
  </div>

  <!-- Contenedor de Login -->
  <div id="loginuser">
    <ion-card class="center">
      <ion-card-header class="ion-text-center">
        <h2 class="card-title">Ingreso de Usuario</h2>
      </ion-card-header>
      
      <ion-card-content [formGroup]="loginForm">
        <!-- Campo de correo -->
        <ion-input 
          formControlName="email"
          type="email" 
          label="Correo" 
          labelPlacement="stacked" 
          fill="outline" 
          placeholder="ejemplo@gmail.com"
          class="input-field">
        </ion-input>
        <!-- Mensaje de error: email requerido o con formato incorrecto -->
        <ion-text color="danger" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
          <p *ngIf="loginForm.get('email')?.errors?.['required']">El correo es requerido.</p>
          <p *ngIf="loginForm.get('email')?.errors?.['email']">Formato de correo inválido.</p>
        </ion-text>
        <br>

        <!-- Campo de contraseña -->
        <ion-input 
          formControlName="password"
          type="password" 
          label="Contraseña" 
          labelPlacement="stacked" 
          fill="outline"
          class="input-field">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        <!-- Mensaje de error: contraseña requerida -->
        <ion-text color="danger" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          <p *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es requerida.</p>
        </ion-text>
        <ion-text color="danger" *ngIf="mensajeError">
          <p>{{ mensajeError }}</p>
        </ion-text>
        <ion-text class="ion-text-right">
          <p><a (click)="goToRecuperar()" class="link">¿Olvidaste la contraseña?</a></p>
        </ion-text>

        <br>
        
        <!-- Botón de ingreso -->
        <ion-button 
          (click)="login()" 
          size="block" 
          color="primary" 
          shape="round" 
          id="signinbutton" 
          class="signin-button">
          INGRESAR
        </ion-button>
        
        <br>

        <!-- Enlace para registrarse -->
        <ion-text class="ion-text-center">
          <h2>¿No tienes cuenta? Regístrate <a (click)="goToRegistrarse()" class="link">Aquí</a></h2>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
  
  <!-- FOOTER FIJO -->
  <ion-footer>
    <ion-toolbar color="dark">
      <ion-grid>
        <ion-row class="footer-content">
          <ion-col size="12" size-md="6" class="ion-text-center">
            <p>&copy; 2025 Los Clavitos de Pablito. Todos los derechos reservados.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</ion-content>