:root {
    --ion-color-primary: #E67E22;  /* Naranja fuerte */
    --ion-color-primary-rgb: 230, 126, 34;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #D35400; /* Naranja más oscuro */
    --ion-color-primary-tint: #F39C12; /* Naranja claro */
  }
ion-footer {
  background-color: #1a1a1a;
  padding: 20px 0;
  color: white;
}

ion-buttons {
  display: flex;
  justify-content: start;
  align-items: center;
}

ion-button {
  margin: 0 10px;
  color: #cccccc;
  font-size: 22px;
  margin-top: 10px;
}

.footer-content {
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-links a {
  display: block;
  color: #e08611;
  margin: 5px 0;
  text-decoration: none;
}

.footer-links a:hover {
  color: #ddd;
}

.footer-contact p,
.footer-copyright p {
  color: #fff;
  margin: 5px 0;
}

.footer-copyright {
  text-align: center;
  font-size: 12px;
  color: #ccc;
}

.subcategoria-item {
  transition: transform 0.3s ease, background-color 0.3s ease; /* Transición para animación suave */
}

.subcategoria-item:hover {
  cursor: pointer;  /* Cambia el cursor a puntero */
  transform: scale(1.05);  /* Aumenta ligeramente el tamaño del item */
  background-color: #f0f0f0;  /* Cambia el color de fondo al pasar el mouse */
}
