:root {
    --ion-color-primary: #E67E22;  /* Naranja fuerte */
    --ion-color-primary-rgb: 230, 126, 34;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #D35400; /* Naranja más oscuro */
    --ion-color-primary-tint: #F39C12; /* Naranja claro */
  }
  