<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Informe de Pagos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Genera un informe detallado de todos los pagos realizados.</p>
      <ion-button expand="block" color="primary" class="btn-naranjo-1" (click)="exportarPagosExcel()">
        Descargar Informe Pagos Excel
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Informe de Pedidos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Visualiza el estado y detalles de los pedidos recibidos.</p>
      <ion-button expand="block" color="secondary" class="btn-naranjo-2" (click)="exportarPedidosExcel()">
        Descargar Informe Pedidos Excel
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Informe de Inventario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Consulta el estado actual del inventario en bodega.</p>
      <ion-button expand="block" color="tertiary" class="btn-naranjo-3" (click)="exportarInventarioExcel()">
        Descargar Informe Inventario Excel
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
