ion-content {
  --padding-top: 56px; 
}

.btn-naranjo-1 {
  --background: #FFA726; // Naranjo claro
  --color: white;
}

.btn-naranjo-2 {
  --background: #FB8C00; // Naranjo medio
  --color: white;
}

.btn-naranjo-3 {
  --background: #EF6C00; // Naranjo oscuro
  --color: white;
}