<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="card-title">Administrar Trabajadores</ion-card-title>
    </ion-card-header>
    <form [formGroup]="persona"  (ngSubmit)="onSubmit()">

      <ion-item class="form-item">
        <ion-label position="stacked">rut</ion-label>
        <ion-input formControlName="rut" type="text"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input formControlName="nombre" type="text"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Primer Apellido</ion-label>
        <ion-input formControlName="primer_apellido" type="text"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Segundo Apellido</ion-label>
        <ion-input formControlName="segundo_apellido" type="text"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Contraseña Temporal</ion-label>
        <ion-input formControlName="contrasenia" type="text" ></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Seleccionar Imagen</ion-label>
        <input type="file" accept="image/*" (change)="onFileSelected($event)">
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Ruta de la Imagen</ion-label>
        <ion-input formControlName="imagen" type="text" readonly></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Género</ion-label>
        <ion-select formControlName="genero" placeholder="Género">
          <ion-select-option value="Masculino">Masculino</ion-select-option>
          <ion-select-option value="Femenino">Femenino</ion-select-option>
          <ion-select-option value="Otro">Otro</ion-select-option>
        </ion-select>
      </ion-item>
        <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input formControlName="correo" type="email" labelPlacement="stacked">
        </ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input formControlName="direccion" type="text"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Telefono</ion-label>
        <ion-input formControlName="telefono" type="number"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Fecha Nacimiento</ion-label>
        <ion-input formControlName="fecha_nacimiento" type="date"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Tipo Usuario</ion-label>
        <ion-select formControlName="tipo_usuario" placeholder="Tipo Usuario">
          <ion-select-option [value]="1">Administrador</ion-select-option>
          <ion-select-option [value]="2">Bodeguero</ion-select-option>
          <ion-select-option [value]="3">Contador</ion-select-option>
          <ion-select-option [value]="5">Vendedor</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Sucursal</ion-label>
        <ion-select formControlName="sucursal" placeholder="Seleccione una Sucursal">
      <ion-select-option *ngFor="let sucursal of sucursales" [value]="sucursal.id_sucursal">
        {{sucursal.nombre_sucursal}} ({{getNombreComuna(sucursal.id_comuna)}})
      </ion-select-option>
        </ion-select>
      </ion-item>
    <ion-item class="form-item">
      <ion-label position="stacked">Comuna</ion-label>
      <ion-select formControlName="comuna" placeholder="Seleccione comuna">
        <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.id_comuna">
          {{comuna.nombre_comuna}}
        </ion-select-option>
      </ion-select>
    </ion-item>
      <ion-button [disabled]="persona.invalid" type="submit" size="block" color="warning">Registrar</ion-button>
      <ion-button [disabled]="!botonModificar || !persona.valid" (click)="modificar()" size="block" color="dark">Modificar</ion-button>
      <ion-button type="reset" size="block" color="secondary">Limpiar</ion-button>
    
    </form>
  </ion-card>
  <div>
    <ion-list>
      <ion-item-sliding *ngFor="let usuario of usuarios">
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="usuario.imagen" alt="Avatar de Usuario" (error)="handleImageError($event, usuario)" />
          </ion-avatar>
          <ion-label>
            <h2>{{usuario.rut}}</h2>
            <p>{{usuario.nombre}} {{usuario.primer_apellido}}</p>
            <p style="color: lightslategray  ; text-align: start;">{{usuario.tipo_usuario}}</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option (click)="buscar(usuario)" color="warning">Buscar</ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option (click)="eliminar(usuario.rut)" color="danger">Eliminar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ng-template #noHayUsuarios>
    <img src="../../../assets/images/logo.png" alt="No hay registros existentes">
  </ng-template>
</ion-content>
